.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(150, 150, 57);
}

footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(168, 168, 94);
    margin-top: 20px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 10px;
   

   }